<div class="secret-form">
  <form id="create-secret" method="POST">
    <div class="form-input">
      <input type="text" name="username" id="secret-username" placeholder="Username" />
      <input type="password" name="password" id="secret-password" placeholder="Password" />
    </div>
    <div class="form-message">
      <textarea name="message" id="secret-message" placeholder="Message" rows=4></textarea>
    </div>
    <div class="form-input">
      <input type="text" id="secret-expiration" placeholder="Expiration Date/Time"/>
      <div class="checkbox">
        <input type="checkbox" id="secret-expire-on-read">
        <label for="secret-expire-on-read">Expire on Read</label>
      </div>
    </div>
    <div class="form-submit">
      <input type="submit" id="secret-submit" value="Create Secret" />
    </div>
  </form>

  <a href="{{ site.baseurl }}/retrieve/"><button class="switch_context">Retrieve Secret -></button></a>
</div>
